/* Estilos para o card */
.blog-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .blog-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .blog-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .blog-card p {
    font-size: 1rem;
    color: #666;
  }
  