/* Color types */
.normal {
    background-color: #c3b59b;
}

.fire {
    background-color: #f7941f;
}

.fighting {
    background-color: #bc1e2c;
}

.water {
    background-color: #00aeed;
}

.flying {
    background-color: #c2b7d9;
}

.grass {
    background-color: #35b44b;
}

.poison {
    background-color: #91288d;
}

.electric {
    background-color: #faeb30;
}

.ground {
    background-color: #ffcc69;
}

.psychic {
    background-color: #ec2b7a;
}

.rock {
    background-color: #c39a6e;
}

.ice {
    background-color: #a3dcf7;
}

.bug {
    background-color: #aacf4e;
}

.dragon {
    background-color: #4d2f8f;
}

.ghost {
    background-color: #877299;
}

.dark {
    background-color: #3e2417;
}

.steel {
    background-color: #a1abb4;
}

.fairy {
    background-color: #f392bd;
}

.cell {
    background-color: #68afa9;
}

.cyber {
    background-color: #3956a4;
}

/* Custom CSS */
.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: grid;
    grid-template-columns: 1fr;
    margin: .5rem;
    padding: 2rem 1rem;
    color: #fff;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    opacity: 0.3;
    color: #000;
    text-align: right;
    font-size: .425rem;
}

.pokemon .name {
    color: #fff;
    margin: .25rem;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .details .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .details .types .type {
    color: #fff;
    padding: .25rem 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    text-align: center;
    font-size: .625rem;
    filter: brightness(1.25);
}
.pokemon .details img {
    max-height: 100%;
    height: 70px;
}

/* Devices */
@media screen and (min-width: 360px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
